<div class="row">
  <div class="span3 offset7">
    <%= form_for @node do |n|%>
    <%= n.label :name, t("index.createnode") %>
    <%= n.text_field :name %>
    <%= n.submit t("index.createnode") %>
    <% end %>
    <%= link_to t("index.nodelist"), nodes_path, class: "btn btn-info"%>
</div>
</div>