<div class="container" style="padding-left: 30%;">
  <div class="row">
    <%= form_for @post do |post| %>
    <%= t("index.node")%>
     <%= post.select :node_id, Node.all.map { |c| [c.name, c.id] }%>
	   <%= post.label :title, t("index.titlep")%>
	   <%= post.text_field :title, class: "span7" %>
	   <%= post.label :content, t("index.content")%>
     <%= post.text_area :content, class: "span7" %>
     <p>
        <%= t("index.img")%>
     </p>
     <p><%= post.file_field :avatar%> </p> 
     <p>
     <%= post.submit t("index.new"), class: "btn btn-primary" %>
     </p>
    <% end %>
  </div> 
</div>
